
<% provide(:title, 'Sign up') %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: :new_visitor }) do |f| %>

<%= f.error_notification %>

<div class="container login-form">
    <div class="row center-panel2">
        <div class="col-xs-12 col-sm-12 col-md-6 center-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Sign Up</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 login-box">
                            <form role="form">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <%= f.input_field :email, required: true, placeholder: 'email', class: 'form-control', pattern: false %>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <%= f.input_field :password, required: true, placeholder: 'password (min 8 characters)', class: 'form-control', hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <%= f.input_field :password_confirmation, required: true, placeholder: 'confirm password', class: 'form-control' %>
                            </div>          
                            <p>
                               <!-- <a href="#">Lost your password?</a></p> -->
                           Already have an account? <%= link_to "Log in", new_session_path(resource_name) %>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="checkbox">
                                <label>
                                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                           <%= f.button :submit, "Sign Up" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>


<style>

body {
	background: url(/assets/crowd.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

</style>